*[b-63tl1a16cp] {
    box-sizing: border-box;
}

.main[b-63tl1a16cp] {
    height: 40vh;
    width: 50vw;
    margin: 5vh auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color:rgba(127, 122, 108, 0.134);
}

.main2[b-63tl1a16cp] {
    height: 35vh;
    width: 50vw;
    margin: 10px auto;
    /* @* border: 2px solid black; *@ */
    border-radius: 15px;
}
.input1[b-63tl1a16cp]
{
    display:block;
    border: 1px solid rgb(255, 0, 0) ;
    width:48vw;
    margin:auto;
    border:1px grey;
    box-shadow: 0px 0px 10px 10px pink;
}

.header2[b-63tl1a16cp] {
    font-size: large;
    margin: 10px 10px;
}
.text[b-63tl1a16cp]
{
    display:block;
    margin:auto;
width:48vw;
}
.btn-primary[b-63tl1a16cp]
{
    width:10vw!important;
    height:6vh!important;
    font-size: 2rem!important;
    border-radius: 10px!important;
    display:block!important;
    margin:10px;
}
.btn-primary:active[b-63tl1a16cp]{
    background-color:red;
}
.showcase[b-63tl1a16cp]
{
    border:2px solid black;
    width:20vw;
    height:20vh;
    margin-top:5vh;
}
ul[b-63tl1a16cp]
{
    list-style: none;
}
.note[b-63tl1a16cp]
{
    width:25vw;
    height:auto;
    border:1px solid black;
    margin:10px;
    background-color:grey;
}
.note1[b-63tl1a16cp]
{
    width:25vw;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin:auto;
    /* border:2px solid black; */
    border-radius: 5px;
}
.note2[b-63tl1a16cp]
{
    width:15vw;
    margin: 10px auto;
    /* border:2px solid black; */
    border-radius: 5px;
}
h3[b-63tl1a16cp]{
    display:inline;
    /* border:1px solid black; */
}
.edit1[b-63tl1a16cp]
{
    display:inline;
}

.eb[b-63tl1a16cp]{
    width:5vw;
    height:5vh;
    background-color:burlywood;
}
.eb:active[b-63tl1a16cp]{
    background-color:azure;
}
.noted[b-63tl1a16cp]
{
    display:grid;
    width:80vw;
    grid-template-columns: auto auto auto;
}